.conversionHistory{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 160px);
}

.tabelaHistorico {
  width: calc(100% - 48px);
  table-layout: fixed;
  background-color: var(--color-white);
  border-radius: 12px;
  border-collapse: collapse;
  overflow: hidden;
}

.tabelaHistorico caption {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-text-black);
}

.tabelaHistorico th,
.tabelaHistorico td {
    width: 20%;
    text-align: center;
    padding: 8px;
}

.botaoExcluir{
    background-color: transparent;
    color: var(--color-text-light);
    padding: 8px 16px;
    border-radius: 12px;
}

.cabecalhoHistorico th{
    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 8px;
}

.cabecalhoHistorico th:first-child {
  border-top-left-radius: 12px;
}

.cabecalhoHistorico th:last-child {
  border-top-right-radius: 12px;
}

.botaoExcluir:hover{
    opacity: 0.8;
}

.botaoExcluir{
    padding: 8px 16px;
    border-radius: 12px;
}

.paginacao{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 50px;
    
}

.pagina{
    background-color: var(--color-primary);
    padding: 8px;
    color: var(--color-text-light);
    border: 1px solid rgba(255, 255, 255, 0.3)
    
}
.pagina:hover{
    opacity: 0.6;
    background-color: var(--color-primary);
}