
.tituloquotes h1{
    color: var(--color-text-light);
    font-size: 32px;
    font-weight: 700;
    display: flex;
    margin: 32px 24px 0 24px;
    padding: 16px 16px 0 0;
}
.tabela {
  width: calc(100% - 48px);
  table-layout: fixed;
  background-color: var(--color-white);
  border-radius: 12px;
  margin: 24px;
  border-collapse: collapse;
  overflow: hidden;
}

.tabela th,
.tabela td {
  width: 20%;
  text-align: center;
  padding: 8px;
}

.cabecalho {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  font-size: 18px;
  font-weight: 300;
}